:root {
  --bg_color_light: #ebe6e7;
  --bg_color_dark: #181a19;
  --text_light: #ffffff;
  --text_dark: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(dark_bg.jpg);
  background-repeat: repeat;
  background-size: cover;
  color: var(--text_light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
