:root {
  --bg_color_light: #ebe6e7;
  --bg_color_dark: #181a19;
  --text_light: #ffffff;
  --text_dark: #000;
  --grey: #252525;
  --grey_black: #4a3f35;
  --greybg: #141414;
  --light_grey: #363636;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(bg_lighter.png); */
  background-color: var(--greybg);
  color: var(--text_light);
  font-family: 'iCiel Gotham', sans-serif, 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}