:root {
  --bg_color_light: #ebe6e7;
  --bg_color_dark: #181a19;
  --text_light: #ffffff;
  --text_dark: #000;
  --cream: hsl(348, 11%, 91%);
  --insta: hsl(348, 35%, 74%);
  --facebook: #6bacd8cc;
  --green_lighter: rgb(77, 177, 0);
  --green_dark: rgb(23, 148, 67);
  --text_cream: rgb(232, 230, 227);
  --lightgrey: #6c6c6c;
}

.green {
  cursor: pointer;
  padding: 10px 40px;
  margin-top: 10px;
  width: 140px;
  height: 40px;
  border: none;
  color: var(--text_light);
  background: var(--green_dark);
  border-radius: 100px;
  transition: 0.5s;
  font-family: inherit;
  outline: none;
}

.follow {
  background-color: inherit;
  margin-top: 0;
  padding: 0;
  width: auto;
}

.LIKESMODAL_BTN_followed {
  background-color: var(--lightgrey);
}
