:root {
  --bg_color_light: #ebe6e7;
  --bg_color_dark: #181a19;
  --text_light: #ffffff;
  --text_dark: #000;
  --cream: rgba(247, 166, 166, 0.8);
  --green: rgba(99, 250, 39, 0.966);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  height: 50px;
  background-color: var(--cream);
  background: var(--bg_color_dark);
  position: relative;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: auto;
  width: 50%;
  height: 100%;
}

.nav-search {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
  height: 50%;
}

.search-field {
  color: black;
  width: 50%;
}

.logo {
  display: flex;
  margin-top: 5px;
  margin-left: 8px;
  float: left;
}

.logo a {
  margin: auto;
  font-size: 1.2em;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--green);
  transition: color 0.4s ease-in-out;
}

.disabled {
  display: none;
}

.nav-item p {
  margin-top: 19px;
  font-size: inherit;
}

@media screen and (max-width: 768px) {
  .logo a {
    margin: 8px;
  }

  .hamburger {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
  }

  .line {
    display: block;
    height: 3px;
    width: 20px;
    margin: 4px;
    border-radius: 3px;
    background-color: white;
  }

  .nav-items {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #ff6961;
    flex-direction: column;
    -webkit-clip-path: circle(1px at 85% -10%);
    clip-path: circle(1px at 85% -10%);
    transition: all 0.8s ease-out;
    pointer-events: none;
    z-index: 2;
  }
  .nav-items.show {
    display: flex;
    -webkit-clip-path: circle(1000px at 85% -20%);
    clip-path: circle(2000px at 100% -20%);
    pointer-events: all;
  }

  a {
    font-size: 25px;
  }

  .nav-search {
    margin: 10px 20px;
  }

  .nav-item {
    opacity: 100%;
  }

  .search-field {
    width: 75%;
  }

  .nav-item:nth-child(1).open {
    transition: all 0.5s ease 0.2s;
    margin-top: 30%;
  }
  .nav-item:nth-child(2).open {
    transition: all 0.5s ease 0.4s;
  }
  .nav-item:nth-child(3).open {
    transition: all 0.5s ease 0.6s;
  }

  .nav-item:nth-child(4).open {
    transition: all 0.5s ease 0.8s;
    margin-bottom: 30%;
    margin-left: 3%;
  }

  .nav-item.fade {
    opacity: 1;
  }
}

.HEADER__p {
  margin-top: 42.5vh;
  transform: translateY(-50%);
  text-align: center;
  font-size: 30px;
}
