.MESSAGES__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.MESSAGES__title {
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 60px;
  background: rgb(93, 126, 197);
  justify-content: space-between;
  align-items: center;
}

.MESSAGES_back_button {
  font-size: 3rem;
}

.MESSAGES_title_picture {
  padding-top: 5px;
}

.MESSAGES_title_picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.MESSAGES__body {
  padding: 10px;
  height: 100%;
  background: rgb(24, 24, 24);
}

.MESSAGES__send {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  height: 50px;
  background: rgb(59, 59, 59);
}

.MESSAGES_INPUT {
  width: 95%;
}

.MESSAGES__chat-msg {
  display: flex;
  padding: 0 20px 45px;
}
.MESSAGES__chat-msg-content {
  margin-left: 12px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.MESSAGES__chat-msg-text {
  background-color: rgb(93, 126, 197);
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
}
.MESSAGES__chat-msg-text + .chat-msg-text {
  margin-top: 10px;
}
.MESSAGES__chat-msg-text {
  color: var(--chat-text-color);
}

.owner {
  flex-direction: row-reverse;
}
.owner .MESSAGES__chat-msg-content {
  margin-left: 0;
  margin-right: 12px;
  align-items: flex-end;
}
.owner .MESSAGES__chat-msg-text {
  background-color: rgb(93, 126, 197);
  color: #fff;
  border-radius: 20px 20px 0 20px;
}
.owner .MESSAGES__chat-msg-date {
  left: auto;
  right: calc(100% + 12px);
}

.MESSAGES_btn {
  margin-top: 0;
}
