@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap&subset=latin-ext');

:root {
  --body-font: 'Manrope', sans-serif;
  --theme-color: #0086ff;
  --chat-text-bg: #f1f2f6;
  --bg_color_light: #ebe6e7;
  --bg_color_dark: #181a19;
  --text_light: #ffffff;
  --text_dark: #000;
  --cream: hsl(348, 11%, 91%);
  --blue: #3498db;
  --grey: rgb(44, 44, 44);
  --lightgrey: #6c6c6c;
  --pinkish: #ffbcbc;
}

.MESSAGES__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.MESSAGES__title {
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 60px;
  background: rgb(59, 59, 59);
  color: white;
  justify-content: space-between;
  align-items: center;
}

.MESSAGES_back_button {
  font-size: 3rem;
}

.MESSAGES_title_picture {
  padding-top: 5px;
}

.MESSAGES_title_picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.MESSAGES__body {
  padding: 10px;
  height: 100%;
  overflow: auto;
  background: var(--grey);
}

.MESSAGES__send {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  height: 50px;
  background: rgb(80, 80, 80);
}

.MESSAGES_INPUT {
  width: 95%;
}

.MESSAGES_SEND:hover {
  cursor: pointer;
}

.MESSAGES__chat-msg {
  font-family: var(--body-font);
  display: flex;
  padding: 0 20px 10px;
}
.MESSAGES__chat-msg-content {
  margin-left: 12px;
  word-break: break-word;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.MESSAGES__chat-msg-text {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  color: white;
  background-color: var(--bg_color_dark);
  padding: 10px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: inherit;
  font-weight: 500;
}
.MESSAGES__chat-msg-text + .chat-msg-text {
  margin-top: 10px;
}

.MESSAGES__chat-msg-date {
  color: var(--lightgrey);
  font-size: 0.7rem;
  display: flex;
  justify-content: end;
}

.MESSAGES__owner {
  flex-direction: row-reverse;
}

.MESSAGES__owner .MESSAGES__chat-msg-date {
  color: var(--bg_color_light);
}

.MESSAGES__owner .MESSAGES__chat-msg-content {
  margin-left: 0;
  margin-right: 12px;
  align-items: flex-end;
}
.MESSAGES__owner .MESSAGES__chat-msg-text {
  background-color: var(--theme-color);
  color: #fff;
  border-radius: 20px 20px 0 20px;
}
.MESSAGES__owner .MESSAGES__chat-msg-date {
  left: auto;
  right: calc(100% + 12px);
}

.MESSAGES_btn {
  margin-top: 0;
}
