.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.LIKESMODAL_CONTENT {
  margin: 200px 400px;
  min-height: 300px;
  border-radius: 20px;
  padding-bottom: 10px;
  min-height: 100px;
  background: var(--text_dark);
  min-width: 360px;
  /* width: 100%; */
  flex-wrap: wrap;
  flex-direction: row;
  border: 100px solid;
  border-image-slice: 1;
  border-width: 2px;
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
  margin-bottom: 10px;
  /* transform: translateY(50%); */
}

.LIKESMODAL_ROW {
}

.LIKESMODAL__title {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.LIKESMODAL__title__left {
  display: flex;
}

.LIKESMODAL__profile_picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-top: 0px;
}

.LIKESMODAL__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  padding: 10px;
}

.LIKESMODAL_ROW:hover {
  cursor: pointer;
}

.LIKESMODAL__context {
  padding-left: 70px;
  flex-wrap: wrap;
}

.EDIT {
  border: none;
  padding: 20px;
}

.MODAL_BIO_CONTAINER h3 {
  margin-bottom: 10px;
}

.MODAL_BIO_DOWN {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.MODAL_BIO_DOWN p {
  margin-top: 10px;
}

.LIKES_MODAL_TITLE {
  padding: 15px;
}

.LIKES_MODAL_TITLE h3 {
  padding-left: 10px;
}

.LIKES_MODAL_TITLE hr {
  margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
  .LIKESMODAL_CONTENT {
    margin: 20px;
  }
}
