:root {
  --bg_color_light: #ebe6e7;
  --bg_color_dark: #181a19;
  --text_light: #ffffff;
  --text_dark: #000;
  --cream: hsl(348, 11%, 91%);
  --insta: hsl(348, 35%, 74%);
  --facebook: #6bacd8cc;
  --green: rgba(167, 240, 107, 0.966);
  --green_dark: rgb(23, 148, 67);
  --text_cream: rgb(232, 230, 227);
  --grey: rgb(44, 44, 44);
  --lightgrey: #6c6c6c;
}

.POSTS__container {
  width: 90%;
  height: auto;
  /* min-height: 200px; */
  background: rgb(17, 17, 17);
  margin: auto;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.POST__body {
  min-height: 100px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.POST__title {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.POST__profile_picture {
  width: 50px;
  height: 50px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.POST__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  padding: 10px;
}

.POST__context {
  padding-left: 70px;
  width: 90%;
  flex-wrap: wrap;
}

.POST__actions {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-between;
  padding-right: 15px;
}

.POST__like_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.POST__like_button {
  display: flex;
  flex-direction: row;
}

.POST__liked_by {
  display: flex;
  align-items: center;
}

.POST__liked_by h4{
  margin-right: 10px;
}

.POST__liked_by img{
  width: 25px;
  height: 25px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-fit: cover;
}

.POST__context p {
  font-size: 0.9em;
  /* font-style: oblique; */
  color: var(--text_cream);
}

@media screen and (max-width: 850px) {
  .POST__like_section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: baseline;
    width: 50%;
  }

  .POST_number_of_likes {
    margin-top: 10px;
  }

  .POST__liked_by {
    margin-top: 10px;
  }
}