:root {
  --bg_color_dark: #181a19;
  --text_dark: #000;
  --text_cream: rgb(232, 230, 227);
}

.POSTS__container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: auto;
  box-sizing: border-box;
}
.POST__body {
  border-radius: 10px;
  padding-bottom: 10px;
  min-height: 100px;
  background: var(--text_dark);
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
}

.POST__title {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.POST__profile_picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.POST__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  padding: 10px;
}

.POST__context {
  padding-left: 70px;
  flex-wrap: wrap;
}

.POST__actions {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-between;
  padding-right: 15px;
}

.POST__like_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.POST__like_button {
  display: flex;
  flex-direction: row;
}

.POST__liked_by {
  display: flex;
  align-items: center;
}

.POST__liked_by h4 {
  margin-right: 10px;
}

.POST__liked_by img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.POST__context p {
  font-size: 0.9em;
  padding-right: 10px;
  color: var(--text_cream);
}

@media screen and (max-width: 1200px) {
  .POST__like_section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
  }

  .POST_number_of_likes {
    margin-top: 10px;
  }

  .POST__liked_by {
    margin-top: 10px;
  }

  .POST_number_of_likes {
    width: 200%;
  }

}



.form-input {
  display: block;
  background: transparent;
  border-radius: 10px;
  padding: 0.5em 0.7em;
  color: white;
  width: -webkit-fill-available;
  font-size: 1rem;
  width: 95%;
  height: auto;
  font: inherit;
  resize: none;
}

