.SEARCH_CONTAINER {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--grey);
}
.SEARCH_BODY {
  flex: 1;
  padding: 50px;
  margin: 50px 0px;
  background-color: black;
}

.SEARCH_OPTIONS {
  margin-top: 30px;
}

.SEARCH_OPTIONS h3 {
  margin-bottom: 10px;
}

.SEARCH_OPTIONS_LOCATION {
  margin-top: 20px;
  margin-bottom: 20px;
}
.SEARCH_OPTIONS_LOCATION h4 {
  margin-bottom: 10px;
}

.SEARCH_OPTIONS_LOCATION_SLIDER {
  display: flex;
  flex-direction: row;
}

.SEARCH_OPTIONS_RADIO {
  display: flex;
  justify-content: start;
}

.SEARCH_SIDE {
  display: flex;
  flex: 0.25;
  background-color: var(--grey);
}

.SEARCH_RESULTS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.SEARCH_RESULT_CARD {
  flex: 1 1 30%; /*grow | shrink | basis */
}

.SEARCH_CARD {
  color: black;
  padding: 20px;
}

.INTEREST_BAR_TITLE h4 {
  font-weight: 100;
  /* font-family: 'DM Sans'; */
  font-family: 'Jost', sans-serif;

  font-variant: small-caps;
}

.card-number-match h4 {
  font-weight: 200;
  font-family: 'Jost', sans-serif;
  color: var(--grey);
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-interests {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.card-my-interests {
  margin-top: 5px;
}

.SEARCH_AND_MORE:hover {
  cursor: auto;
}

.SEARCH_LOCATION {
  display: flex;
  flex-direction: column;
}

.SEARCH_LOCATION_CITY {
  margin-top: 10px;
  margin-bottom: 10px;
}

.SEARCH_RESULT_PICTURE:hover {
  cursor: pointer;
}

.SEARCH_RESULT_FULLNAME:hover {
  cursor: pointer;
}