.SEARCH_CONTAINER {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.SEARCH_BODY {
  flex: 0.5;
  height: 100%;
  padding: 50px;
}

.SEARCH_OPTIONS {
  margin-top: 30px;
}

.SEARCH_OPTIONS h3 {
  margin-bottom: 10px;
} 

.SEARCH_OPTIONS_LOCATION {
  margin-top: 40px;
}
.SEARCH_OPTIONS_LOCATION h4{
  margin-bottom: 10px;
}

.SEARCH_OPTIONS_LOCATION_SLIDER {
  display: flex;
  flex-direction: row;
}

.SEARCH_OPTIONS_RADIO {
  display: flex;
  justify-content: start;
}

.SEARCH_SIDE {
  display: flex;
  flex: 0.25;
  background-color: var(--grey);
}