:root {
  --bg_color_light: #ebe6e7;
  --bg_color_dark: #181a19;
  --text_light: #ffffff;
  --text_dark: #000;
  --cream: hsl(348, 11%, 91%);
  --insta: hsl(348, 35%, 74%);
  --facebook: #6bacd8cc;
  --green: rgba(99, 250, 39, 0.966);
}

.btn-set {
  width: fit-content;
}


.btn-edit-sbm {
  width: 60px;
  height: 30px;
}
